@page "{reference}"
@model Shop.UI.Pages.OrderModel
@{
}

<div>
    @Model.Order.OrderRef

    @foreach(var product in Model.Order.Products){
    <div>
        @product.Name - @product.Qty - @product.Value
    </div>
    }
</div>
